* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
    img {
        width: 100%;
        height: fit-content;
    }
}
body {
    display: flex;
    justify-content: center;
    width: 100%;
    --white: hsl(0, 0%, 97%);
    --whiteOff: hsl(0, 0%, 93%);
    --blackOff: hsl(0, 0%, 5%);
    --firstColor: hsl(200, 80%, 60%);
    --secondColor: hsl(200, 80%, 40%);
    --backgroundColor: hsl(0, 0%, 15%);
    --gray: hsl(0, 0%, 75%);
    --textColor: hsl(0, 0%, 90%);
    background: linear-gradient(var(--backgroundColor), var(--firstColor)) fixed;
    color: var(--textColor);
    font-family: system-ui;
    letter-spacing: 0.02rem;

    .btn_up {
        position: fixed;
        bottom: 1rem;
        right: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--whiteOff);
        width: 4rem;
        height: 4rem;
        padding: 1rem;
        border-radius: 1rem;
        cursor: pointer;
        transition: all 0.2s ease;
        z-index: 9999;
        #arrow_down_svg {
            transform: rotate(180deg);
            fill: var(--blackOff);
        }
    }
    .btn_up:hover {
        background: white;
    }
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    text-align: center;
    padding: 1rem 2rem;
    width: 100%;
    height: fit-content;
    background: var(--white);
    color: var(--blackOff);
    z-index: 100000;
    .subtitle_header {
        color: var(--blackOff);
    }

    .search_container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin: 1rem 0 0.5rem;
        width: clamp(300px, 900px, 100%);

        input[type='text'] {
            text-align: center;
            width: clamp(300px, 700px, 95%);
            border: none;
            background: var(--whiteOff);
            border-radius: 0.5rem;
            padding: 0.5rem 0.5rem;
            margin: 0.5rem 0;
            transition: background 0.5s ease;
        }
        input[type='text']:focus {
            outline: none;
            background: hsl(0, 0, 89%);
        }
        .btn_input {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 3rem;
            height: 3rem;
            border: solid 0.15rem var(--firstColor);
            border-radius: 0.5rem;
            padding: 0.5rem;
            cursor: pointer;
            transition: all 0.5s ease;
        }
        #btn_search_name {
            .search_svg {
                .cls-1 {
                    fill: var(--firstColor);
                    transition: fill 0.3s ease;
                }
            }
        }
        #btn_clean_input {
            .cross_svg {
                transform: scale(0.7);
                .cls-1 {
                    fill: var(--firstColor);
                }
            }
        }
    }
}
#cards_section {
    position: relative;
    margin-top: 13rem;
    padding: 2rem, clamp(1rem, 4rem, 2rem);
    width: 100%;
    .trash_btn_container {
        position: fixed;
        bottom: 6rem;
        right: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--whiteOff);
        width: 4rem;
        height: 4rem;
        padding: 1rem;
        border-radius: 1rem;
        cursor: pointer;
        transition: all 0.2s ease;
        z-index: 9999;
        #trash_icon {
            transition: fill 0.5s ease;
            fill: var(--firstColor);
        }
    }
    .trash_btn_container:hover {
        #trash_icon {
            fill: var(--secondColor);
        }
    }
}
#cards_section_content {
    display: flex;
    justify-content: center;
    .cards_container {
        margin: 4rem 0 15rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
        width: 80%;
    }
}
.card {
    position: relative;
    background: var(--whiteOff);
    color: black;
    width: 300px;
    height: 300px;
    border-radius: 0.5rem;
    .character_caracteristics {
        color: var(--gray);
    }
    .accent {
        color: var(--firstColor);
    }
    .accent_id {
        color: var(--firstColor);
    }
    .character_img_container {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: 1;
        border-radius: 0.5rem;
        background-size: contain;
        transition: background 0.3s ease;
        .character_basic_info_container {
            position: absolute;
            top: 2rem;
            left: 50%;
            transform: translateX(-50%);
            padding: 0.5rem 0.5rem;
            text-align: center;
            opacity: 1;
            transition: all 0.3s ease;
            .character_name {
                color: var(--firstColor);
            }
        }
        .btn_info {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            bottom: 1rem;
            left: 50%;
            transform: translate(-50%, 0);
            color: var(--blackOff);
            width: 50%;
            height: 2rem;
            background: var(--whiteOff);
            border-radius: 0.5rem;
            cursor: pointer;
        }
    }
    .character_info_container {
        position: absolute;
        bottom: 0;
        left: 0;
        background: var(--whiteOff);
        transform: translateY(0);
        width: 100%;
        padding: 1rem 1.5rem;
        border-radius: 0.5rem;
        height: fit-content;
        z-index: 0;
        transition: transform 0.3s ease;
    }
}
.card_show_info {
    .character_img_container {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        z-index: 3;
    }
    .character_info_container {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        transform: translateY(100%);
        z-index: 2;
    }
}
